* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(58, 97, 69);
  color: white;
}

.btn-red {
  background-color: chocolate;
  color: white;
}

.btn-blue {
  background-color: chocolate;
  color: white;
}


/* Entrada.css */

.entrar {
  text-align: center;
}

.card {
  
  padding: 10px;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  transition: all 0, 5s;
  margin-top: 50px;
}




.card__header img {
  width: 100%;
  display: none;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}

.card__title {
  margin-bottom: 15px;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card__product {
  text-align: center;
  font-size: 30px;
  font-family: Roboto;
}

.card:hover {
  transform: translateY(-15px);
}

.fixed-card {
  width: 250px; /* Puedes ajustar el tamaño según tus preferencias */
  height: 350px; /* Puedes ajustar el tamaño según tus preferencias */
  
}



/*.card-container {
  
  min-height: 30vh;
  margin-top: 10px;
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;*/
  .container {
    color: white;
  }

  .card-container{
    display: flex;
    flex-wrap: inherit;
    gap: 20px; 
    margin-top: 50px;
    
}

.whatsapp {
  position: fixed;
  bottom: 40px;
  right: 20px;
}

.whatsapp a img {
  width: 50px;
}

.cartWidget {
  position: fixed;
  top: 10px;
  right: 10px;
}